* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dae0e6;
}

.navigation {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

.my-posts {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #1a1a1b;
    margin-right: 250px;
    padding-top: 12px;
}

.user-profile {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #1a1a1b;
    margin-right: 16px;
    padding-top: 12px;
}

.container {
    padding: 20px 24px;
    display: flex;
    max-width: 1248px;
    margin: 0 auto;
    justify-content: center;
}

.post-comment-container {
    background: #fff;
    border-radius: 8px;
    width:640px
}

.post-container {
    margin-bottom: 16px;
    padding: 16px;
}

.post-container h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.17em;
    color: black;
}

.post-container p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    color: black;
}

.post-container span {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    color: black;
}

.comment-input {
    width: 100%;
    border-radius: 4px;
    height: 75px;
    margin-top: 20px;
    padding: 10px;
    border: solid 1px #edeff1;
}

.submit-comment-button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    color: #fff;
    border-radius: 20px;
    background-color: #0079d3;
    border: 0;
    float: right;
    min-width: 24px;
    min-height: 24px;
    padding: 4px 8px;
    line-height: 16px;
}

.sidebar-container {
    padding: 16px;
    width: 320px;
    max-height: 60vh;
    background-color: #fff;
    margin-left: 24px;
}

.sidebar-container h1 {
    font-family: 'IBM Plex Sans', sans-serif;
}