* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dae0e6;
}

.navigation {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

.container {
    padding: 20px 24px;
    display: flex;
    max-width: 1248px;
    margin: 0 auto;
    justify-content: center;
}

.post-container {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
}