* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dae0e6;
}

.navigation {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

.my-posts {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #1a1a1b;
    margin-right: 250px;
    padding-top: 12px;
}

.user-profile {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #1a1a1b;
    margin-right: 16px;
    padding-top: 12px;
}

.container {
    padding: 20px 24px;
    display: flex;
    max-width: 1248px;
    margin: 0 auto;
    justify-content: center;
}

.feed-container {
    width: 640px;
}

.feed-input {
    background-color: #fff;
    display:flex;
    margin-bottom: 10px;
    border-radius: 8px;
}

.feed-input input{
    padding: 10px;
    width: 90%;
    border:0;
    margin: 5px;
    height: 32px;
    background-color: #f6f7f8;
}

.post {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
}

.post h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.17em;
}

.post p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
}

.post span {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
}

.edit-delete-buttons {
    display: flex;
    margin-top: 5px;
}

.edit-post , .delete-post {
    border: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    font-weight:600;
    background-color: #fff;
    color: gray;
}

.delete-post {
    margin-left: 10px;
}

.edit-post:hover, .delete-post:hover {
    cursor: pointer;
}

.username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar-container {
    padding: 16px;
    width: 320px;
    max-height: 60vh;
    background-color: #fff;
    margin-left: 24px;
}

.sidebar-container h1 {
    font-family: 'IBM Plex Sans', sans-serif;
}