<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Need Assist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&display=swap" rel="stylesheet">
    <link th:href="@{../css/style.css}" rel="stylesheet">
    <link th:hred="@{../js/post.js}" rel="script">
</head>

<body>
<div class="navigation">
    <a href="/"><img alt="logo" height="42px" th:src="@{../images/NeedAssist.png}"/></a>
    <a href="/myposts" class="my-posts">My Posts</a>
    <a href="" class="user-profile" th:text="${username}"></a>
</div>
<div class="container">
    <div class="feed-container">
        <div class="feed-input">
            <a><img alt="user avatar" height="38px" th:src="@{../images/avatar.png}"/></a>
            <a style="width:100%" href="/submit"><input type="text" placeholder="Create Post" class="post-input"/></a>
        </div>
        <div th:each="post: ${allPosts}" class="post">
            <span class="posted-by">Posted by <span class="username" th:text="'u/' + ${post.username}"></span></span>
            <h1 th:text="${post.heading}"> </h1>
            <p th:text="${post.body}"> </p>
        </div>
    </div>
    <div class="sidebar-container">
        <h1>Recent Posts.</h1>
    </div>
</div>

</body>
</html>