<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NeedAssist - My Posts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&display=swap" rel="stylesheet">
    <link th:href="@{../css/style.css}" rel="stylesheet">
</head>
<body>
<div class="navigation">
    <a href="/" class="my-posts"><img alt="logo" height="42px" th:src="@{../images/NeedAssist.png}"/></a>
</div>
<div class="container">
    <div class="feed-container">
        <div th:each="post: ${myPosts}" class="post">
            <h1 th:text="${post.heading}"> </h1>
            <p th:text="${post.body}"> </p>
            <div class="edit-delete-buttons">
                <button class="edit-post">Edit Post</button>
                <button class="delete-post">Delete Post</button>
            </div>
        </div>
    </div>
    <div class="sidebar-container">
        <h1>Recent Posts.</h1>
    </div>
</div>
</body>
</html>