<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NeedAssist Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&display=swap" rel="stylesheet">
    <link th:href="@{../css/style.css}" rel="stylesheet">
</head>
<body>
<div class="navigation">
    <a href="/"><img alt="logo" height="42px" th:src="@{../images/NeedAssist.png}"/></a>
    <a href="/myposts" class="my-posts">My Posts</a>
    <a href="" class="user-profile" th:text="${username}"></a>
</div>
<div class="container">
    <div class="post-comment-container">
        <div class="post-container">
            <span class="posted-by">Posted by <span class="username" th:text="'u/' + ${post.username}"></span></span>
            <h1 th:text="${post.heading}"> </h1>
            <p th:text="${post.body}"> </p>
        </div>
        <div class="comment-container">
            <input/>
        </div>
    </div>
    <div class="sidebar-container">
        <h1>Recent Posts</h1>
    </div>
</div>
</body>
</html>